@import "tailwindcss";

@theme{
    --font-montserrat : "Montserrat", sans-serif;
    --font-poppins : "Poppins",sans-serif
}

.slick-slide {
  width: 285px;
  margin: 0 auto;
  padding: 0 2px;
  overflow: hidden;
}

 .slick-current .active{
  outline: 1px solid #CBCBCB;
  outline-offset: -3px;
  margin-left: 0.5px;
  border-radius: 10px;
}

.spring_sale.slick-slider .slick-track {
  @apply flex gap-6;
}

input[type=range]::-webkit-slider-thumb{
   pointer-events: auto;
   height: 16px;
   width: 16px;
   background: #FF624C;
   border-radius: 50%;
   appearance: none;
   cursor: pointer;
}
input[type=range]::-moz-progress-bar{
   pointer-events: auto;
   height: 16px;
   width: 16px;
   background: #FF624C;
   border-radius: 50%;
   appearance: none;
   cursor: pointer;
}


input[type=number]::-webkit-outer-spin-button{
    appearance: none;
}
input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}


.checkmark{
  visibility: hidden;
  position: absolute; 
  top: 7px;
  left: 3.26px;
  font-size: 10px;
  color: white;
  z-index: 999;
}
.checkbox:checked + .checkmark{
  visibility: visible;
}

label .active{
  font-weight: 700;
}

.nexsus-rock .slick-current{
  padding: 0;
}

.scroll-thumb::-webkit-scrollbar{
  width: 5px;
}
.scroll-thumb::-webkit-scrollbar-thumb{
  background: #FF624C;
}










