@import "tailwindcss";

@theme{
    --font-montserrat : "Montserrat", sans-serif;
    --font-poppins : "Poppins",sans-serif
}

.slick-slide {
  width: 285px;
  margin: 0 auto;
  padding: 0 2px;
}

.spring_sale.slick-slider .slick-track {
  @apply flex gap-6;
}
